<%= render 'search_bar' %>

<div class="container">
 <div class="col s9 m7">
    <h3 class="header center"><%= @product_title %></h3>
    <div class="card horizontal">
      <div class="card-image">
        <%= image_tag "imac.jpg" %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          
			<a href="#"><p>Snapdeal</p></a>
          	<h4><%= 123 %></h4>
          	<a href="#"><p>Amazon</p></a>
          	<h4><%= 123456 %></h4>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>	
</div>
